.button1 {
    -fx-background-color: black;
}

.button1:hover {
    -fx-background-color: #524A7B;
}

.button1:pressed {
    -fx-background-color: black;
}

.buttonlogo {
    -fx-background-image: url('../images/world-news.png');
    -fx-background-size: stretch;
    -fx-background-color: black;
}

.backanchormain {
    -fx-background-image: url('../images/background2.jpg');
    -fx-background-size: stretch;
}

.backanchor {
    -fx-background-color: black;
    -fx-background-radius: 20;
}


.topanchor {
    -fx-background-color: black;
}

.vboxleftside {
    -fx-background-color: black;
}

.tvNews {
    -fx-background-color: black;
    -fx-light-text-color: white ;
    -fx-mid-text-color:   #c00 ;
    -fx-dark-text-color:  red ;
}

.table-row-cell:odd {
    -fx-background-color: #bfffff;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:even {
    -fx-background-color: #ffb3b3;
    -fx-background-insets: 0, 0 0 1 0;
}
