.button1 {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.button1:hover {
    -fx-shape: "M 300 200 L 550 200 L 550 230 Q 550 246 530 246 L 250 246 L 250 216 Q 250 200 270 200 L 300 200 ";
    -fx-background-color: rgba(0, 233, 255, 0.1);

}

.button1:pressed {
    -fx-background-color: rgba(0, 233, 255, 0.3);
}

.buttonlogo {
    -fx-background-image: url('../images/logo.png');
    -fx-background-size: stretch;
    -fx-background-color: transparent;
}

.btnGetTopHeadlinesAustria {
    -fx-background-color: transparent;
}

.backanchormain {
    -fx-background-image: url('../images/light.jpg');
    -fx-background-size: contain;
}

.backanchor {
    -fx-background-color: #000000;
    -fx-background-radius: 20;
}


.topanchor {
    -fx-background-color: transparent;
}

.vboxleftside {
    -fx-background-color: transparent;
}
.tvNews {
    -fx-background-color: transparent;         /* background color of tableview */
    -fx-light-text-color: #00ffff;           /* color when clicking on cell */
    -fx-mid-text-color: white;             /* color when just showing the cell */
    -fx-border-color: cyan;

}
.table-row-cell{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-table-cell-border-color: transparent;        /* color for the lines between each entry -> title|author */
}


.table-view .column-header-background {
    -fx-background-color: transparent;

}

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;          /* background of the top of the tableview (title, author) */
    -fx-mid-text-color: cyan ;                 /* color of the top of the tableview (title, author) */

}

.lblHeadLines{
    -fx-text-fill: cyan;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.lblDashboard {
    -fx-text-fill: cyan;
    -fx-font-size: 13;
}
.lblProjectName {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.lblArticleCount {
    -fx-text-fill:cyan;
    -fx-font-weight: bold;
    -fx-font-size: 13;
}

.tab-pane {
    -fx-tab-max-height: 0 ;
}
.tab-pane .tab-header-area {
    visibility: hidden ;
}
.toggleButton{
    /* settings for the jfx toggle button*/

    /*
    -jfx-untoggle-color: #ffffff;
    -jfx-untoggle-line-color: #888888;*/

    -jfx-toggle-color: cyan;
    jfx-toggle-line-color: #77c2bb;
}