.button1 {
    -fx-background-color: #393351;
}

.button1:hover {
    -fx-shape: "M 300 200 L 550 200 L 550 230 Q 550 246 530 246 L 250 246 L 250 216 Q 250 200 270 200 L 300 200 ";
    -fx-background-color: #524A7B;

}

.button1:pressed {
    -fx-background-color: #2F2B43;
}

.buttonlogo {
    -fx-background-image: url('../images/world-news.png');
    -fx-background-size: stretch;
    -fx-background-color: #2F2B43;
}

.backanchormain {
    -fx-background-image: url('../images/background2.jpg');
    -fx-background-size: stretch;
}

.backanchor {
    -fx-background-color: #000000;
    -fx-background-radius: 20;
}


.topanchor {
    -fx-background-color: #2F2B43;
}

.vboxleftside {
    -fx-background-color: #393351;
}
