.button1 {
    -fx-background-color: #393351;
}

.button1:hover {
    -fx-background-color: #524A7B;
}

.button1:pressed {
    -fx-background-color: #2F2B43;
}

.backanchormain {
    -fx-background-color: #000000;
}

.backanchor {
    -fx-background-color: #000000;
    -fx-background-radius: 20;
}


.topanchor {
    -fx-background-color: #2F2B43;
}

.vboxleftside
{
    -fx-background-color: #393351;
}
